body{
  text-align: center;
  background: url("https://s-media-cache-ak0.pinimg.com/originals/c0/f9/44/c0f94440ae9b01caddb1d08298ed9136.jpg");
  background-size: cover;
  color: Black;
  background-repeat: no-repeat;
}
h1{
  font-size: 4em;
}
a {
  color: Red;
  text-decoration: none;
}
img {
  margin:40px 0px 0px 0px;
}
ul {
  padding: 10px;
  border: 7px ;
  list-style-type: none;
  overflow: hidden;
}
li {
  display: inline-block;
  padding: 0px 10px 0px 10px;
  padding: top right bottom left;
  font-size: 2em;
  float: center;
  border: 1px;
}
p{
  font-size: 3em
}
li:hover{
  background-color: #111;
}
